@import url("https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700;900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", system-ui, sans-serif;
  background-color: #0d5c0d;
  color: white;
  padding: 20px;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
}

h1 {
  font-family: "Cinzel Decorative", cursive;
  letter-spacing: 2px;
  text-align: center;
  margin-bottom: 30px;
  color: #ffd700;
}

.dealer-section,
.player-section {
  background-color: rgba(0, 0, 0, 0.3);
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}

.dealer-section h2,
.player-section h2 {
  margin: 0px;
  color: #ffd700;
}

#dealer-total,
#player-total {
  font-size: 24px;
  font-weight: bold;
  /* margin-bottom: 10px; */
}

#dealer-hand,
#player-hand {
  min-height: 180px;
  background-color: rgba(255, 255, 255, 0.1);
  padding: 20px;
  border-radius: 5px;
  display: flex;
  gap: 12px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.card {
  margin: 0;
  width: 90px;
  height: 130px;
  background-color: white;
  color: black;
  border: 2px solid #333;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  font-weight: bold;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  gap: 10px;
}

.card.red {
  color: red;
}

#message {
  text-align: center;
  font-size: 20px;
  padding: 15px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  margin-bottom: 20px;
  min-height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.controls {
  display: flex;
  gap: 15px;
  justify-content: center;
  flex-wrap: wrap;
}

button {
  padding: 15px 30px;
  font-size: 18px;
  font-weight: bold;

}
